<%= form_with model: @survey, local: true  do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% survey.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name,  "Nombre de la Encuesta" %>
    <%= form.text_field :name %>
  </div>
<br/>

<fieldset>
  <div class="row">
    <%= form.fields_for :questions do |builder| %>
      <%= render 'question_fields', f:  builder %>
    <% end %>
    <%= link_to_add_fields "Add Question", form, :questions %>
  </div> 
</fieldset>

<br/>
<br/>
<br/>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>




  
